.sidebar_list {
  font-size: 18px;
  padding-left: 15px;

  .sidebar_item {
    margin-bottom: 20px;

    .sidebar_chaild_list {
      font-size: 16px;
      padding-left: 10px;
      line-height: 20px;

      .sidebar_chaild_item {
        display: block;
        margin-top: 10px;

        .sidebar_child_list {
          font-size: 14px;
          padding-left: 20px;
          line-height: 25px;

          .sidebar_child_item {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }
  &.admin {
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 20px 0 20px 15px;
  }
}
