extends _layout

include _tool_btn

block vars
  - var title = "NOWPICKUP";
  
block main
  form 
    .section_wrapper
      .contents
        .now_pickup_work
          .top_area
            p.title 現在のピックアップキャスト
            a(href="pickup-page.html")
              p.button_text 現在のピックアップ一覧
          .now_pickup_work_box
            p.text ピックアップ設定の項目は、指定期間に準ずる形になります。
            p.text.bottom 再設定を行うと、再設定した時間からの表示期間かになります。　（※期間指定の場合は除く）
            p.sub_text ※このピックアップはランダム表示されるエリアの項目です。トップページに表示するタイプのピックアップは右上のメニューからお願いします。
            ul.now_pickup_img_list
              for item in resources.castimg
                li.now_pickup_img_item
                  p.name #{item.name}
                  img(src=item.img)
                  a(href="#").link
                    p.link_text ピックアップ中(再設定)
                  a(href="#").reset_btn
                    p.reset_btn_text 解除する
          .return_btn_box
            a(href="#")
              p.btn_text.left << ひとつ前に戻る
            a(href="#")
              p.btn_text.right ▲上に戻る
