extends _layout

include _tool_btn

block vars
  - var title = "SHIFTDIRECT";
  
block main
  form 
    .section_wrapper
      .contents
        .cast_serch_area
          h2.shift_approval_headding  シフト直接入力
          p.direct_shift_serach キャスト名検索
          .serch_box
            p.text キャスト名：
            input(type="text" name="")
            button(type="submit") 検索
          .search_results
            p.results_text 検索ワード"ゆり"に該当するプロフィールが3件見つかりました。
            ul.results_list
              for item in resources.serchresultslist
                li.resultts_item(class=item.class) #{item.text}
            p.sub_text ※表示された当該キャストを選択すると、シフト直接入力画面が表示されます。
    .section_wrapper
      .contents
        .cast_shift_box
          h2.cast_shift_box_title 多岐川ゆり子
            span のシフトを入力（名前をクリックすると表示される）
          ul.cast_shift_box_list
            for item in resources.castshiftbox            
              li.cast_shift_box_item
                .top_area
                  p.days=item.days
                  input(type="text" name="")
                  | 時
                  input(type="text" name="")
                  | 分　〜　
                  input(type="text" name="")
                  | 時
                  input(type="text" name="")
                  | 分
                  select(name="")
                    option(value="1")
                      | 1
                    option(value="2")
                      | 2
                    option(value="3")
                      | 3
                .bottom_area
                  .left_contents
                    p.desc_text タイムラインに備考・項目を追加する場合はこちらをクリック
                    .form_box
                      .time
                        label 2018年8月14日
                        input(type="text" name="")
                        | 時から
                        input(type="text" name="")
                        | 分間
                      .comment
                        label 項目名：
                        select(name="")
                          option(value=項目1)
                            | 項目1
                          option(value=項目2)
                            | 項目2
                          option(value=項目3)
                            | 項目3
                        label コメント：
                        input(type="text" name="")
                        button(type="submit") 追加
                      p.support_text ※コメントなしでも追加できます。
                      .text_box
                        p.blue ※追加が完了しました。複数追加する場合再度入力、追加内容を削除する場合は削除を押してください。
                        p.gray 追加内容①（削除する）：2018-08-14 12:00 ~ 60分　撮影　％％備考コメントの内容％％
                        p.gray 追加内容②（削除する）：2018-08-14 12:00 ~ 20分　送り　％％備考コメントの内容％％
                  .check_area
                    label
                      input(type="checkbox" name="").top
                      | タイムラインも同時に反映する
                    label
                      input(type="checkbox" name="")
                      | 出勤アラートも同時に通知する
                    button(type="submit") 2018-08-14のシフトを登録
                    p.button_sub_text ※登録が完了しました。●件のアラートを送信しました。タイムラインの反映を確認してください。
          a(href="#")
            p.link_text >> 次の週(1週目)を表示する
