extends _layout

include _tool_btn

block vars
  - var title = "WAITCAST";
  
block main
  form 
    .section_wrapper
      .contents
        .wait_cast
          h2.shift_approval_headding  プロフィール登録待ちキャスト
          .wait_cast_box
            p.box_title プロフィールが仮登録状態のキャストの一覧です。それぞれの項目を確認してください。※仮登録のプロフィール一覧は、事務所に紐づく店舗全てが表示される。
            ul.box_list
              for item in resources.waitcastlist
                li.box_item
                  p.number #{item.number}
                  .textbox
                    for child in item.textbox
                      p.left #{child.left}
                      p.center #{child.center}
                      a(href="#").link #{child.link}
                      p.profile_text のプロフィール作成 >>
    .section_wrapper
      .contents
        .wait_cast
          h2.shift_approval_headding キャスト登録（手動登録）
          .cast_registration
            p.registation_text WEBエントリシートで面接を行った場合、通常ここでの入力は必要ありません。上記プロフィール登録待ちキャストの参照や、
              span 画像データーベース
              | で詳細を確認します。
            .registation_timebox
              p.title 面接日
              label
                input(type="text" name="").years
                | 年
              label
                input(type="text" name="")
                | 月
              label
                input(type="text" name="")
                | 日
            .registation_checkbox
              .text_area
                p.left 店舗在庫登録
                p.right 登録数に応じてプロフィール作成が必要になります。
              ul.check_list
                for item in resources.checkboxlist
                  li.check_item
                    label
                      input(type="checkbox" name="")
                      | #{item.text}
            .registatioin_textbox
              ul.textbox_list.top
                li.textbox_item
                  label.item_title 本名
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title 本名（ふりがな）
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title メールアドレス
                  input(type="email" name="").main
                li.textbox_item
                  label.item_title 電話番号
                  input(type="tel" name="").main
                li.textbox_item
                  label.item_title 住所
                  input(type="text" name="").main
                li.textbox_item
                  label.item_title 年齢 / スリーサイズ
                  input(type="text" name="").sub.none
                  | 歳
                  label.item_subtitle 身長
                  input(type="text" name="").sub
                  | CM
                  label.item_subtitle B.
                  input(tyep="text" name="").sub
                  input(tyep="text" name="").sub
                  | カップ
                  label.item_subtitle W.
                  input(tyep="text" name="").sub
                  label.item_subtitle H.
                  input(tyep="text" name="").sub
                li.textbox_item
                  label.item_title 年齢確認書類
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 年齢確認書類(2)
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 本人の写真
                  input(type="file" name="").file
                li.textbox_item
                  label.item_title 求人募集コード
                  select(name="")
                    option(value="▼選択してください。") ▼選択してください。
                    option(value="項目1") 項目1
                    option(value="項目2") 項目2
                    option(value="項目3") 項目3
              p.list_title 面接官の評価
                ul.textbox_list.bottom
                  li.textbox_item
                    label.item_title キャスト評価
                    input(type="checkbox" name="").check
                    span S
                    input(type="checkbox" name="").check
                    span A
                    input(type="checkbox" name="").check
                    span B
                    input(type="checkbox" name="").check
                    span 未設定（デフォルト）
                  li.textbox_item
                    label.item_title キャスト評価詳細
                    input(type="text" name="").long
    .section_wrapper
      .contents
        .registation_cast
          h2.registation_cast_title 店舗在庫登録
          ul.inventory_registration
            for item in resources.registrationlist
              li.inventory_registration_item
                p.item_title #{item.name}
                .title_box
                  p.left コース
                  p.right バック
                ul.inner_list
                  for child in item.inner
                    li.inner_item
                      p.left #{child.left}
                      p.right(class=child.class) #{child.right}
    button(type="submit").wait_cast_btn この内容で登録する
    .section_wrapper
      .contents
        .profile_area
          p.title 登録が完了しました。現状、ホームページにプロフィールは公開されません。下記リンクより、それぞれのプロフィールの作成をお願いします。
          ul.box_list
            for item in resources.profilearealist
              li.box_item
                p.number #{item.number}
                .textbox
                  for child in item.textbox
                    p.left #{child.left}
                    p.center #{child.center}
                    a(href="#").link #{child.link}
                    p.profile_text のプロフィール作成 >>
